body {
    background-color: rgb(32, 68, 38);
    font-family: 'Poppins';
 
    color: white;
    text-align: center;
}
button {
    border-radius: 50px;
    padding: 4%;
    font-weight: bold;
    font-family: 'Poppins';
 
}

.style {
     border-bottom: dotted white 1px;
    padding: 4%;

}

.hej {

}
.text {
    
}
.sender {
   text-transform: uppercase;
}